# Secrets
.env
.env.*

# Dependencies  
node_modules/

# Version control
.git/
.gitignore

# IDE
.vscode/
.idea/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Build outputs 
dist/
build/

# Tests
test/
tests/
*.test.js
*.spec.js

# Config files locales
vite.config.js
.eslintrc.cjs